# Challenge 1 - The Working Directory

Set your working directory to the Data folder in your DIGHUM101-2020 course materials

In [1]:
import os

In [2]:
## YOUR CODE HERE

'/Users/brooks/Projects/D-Lab/DIGHUM101-2021/Notebooks/Challenges/Week2'

# Challenge 2: Pandas - Import .csv File

Import the music_reviews.csv file and save it in a variable named music. Use the head method to show the first twelve rows. 

> HINT: remember this is a TAB separated .csv file, so you have to add a second argument to tell Python that the file is tab-delineated (not comma delineated).

In [2]:
## YOUR CODE HERE

'/Users/brooks/Projects/D-Lab/DIGHUM101-2021/Notebooks/Challenges/Week2'

# Challenge 3: `.describe()`

Use the .describe() method to find the average review score for all albums in this dataset.

In [2]:
## YOUR CODE HERE

'/Users/brooks/Projects/D-Lab/DIGHUM101-2021/Notebooks/Challenges/Week2'

# Challenge 4: Rename Column Names

Recall how to print the columns of a data frame. It looks like a method but without the trailing round parentheses is called an attribute!

In [15]:
music.columns

Index(['album', 'artist', 'genre', 'release_date', 'critic', 'score', 'body'], dtype='object')

Rename the "album" column name to "ALBUM" and the "body" column name to "Body".

In [22]:
## YOUR CODE HERE

In [24]:
# See if it worked
music.head()

,ALBUM,artist,genre,release_date,critic,score,Body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

# Challenge 5: Slice It! 

Slice music to return just the 3rd, 4th, and 5th reviews (note that they start on 0). Save this in a variable named `music_subset`.

In [26]:
## YOUR CODE HERE

,ALBUM,artist,genre,release_date,critic,score,Body
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...

# Challenge 6: `iloc`

Use `.iloc` to return just the 1st, 82nd, 988th, 2561st, 4002nd, and and last review in a variable named music2

In [32]:
## YOUR CODE HERE

,ALBUM,artist,genre,release_date,critic,score,Body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
81,The Music,The Music,Indie,2003-02-25 00:00:00,Spin,58.0,What's most British about the Music is their t...
987,Inni [Live],Sigur Rós,Pop/Rock,2011-11-15 00:00:00,williamplong,78.0,Emotional and brilliant! This live production ...
2560,Now,Maxwell,Pop,2001-08-14 00:00:00,Sonicnet,78.0,"Now is Maxwell's best album, because he's lear..."
4001,Into The Blue Again,The Album Leaf,Indie,2006-09-12 00:00:00,Playlouder,67.0,"A lesson in understatement, 'Into The Blue Aga..."
5000,And Their Refinement Of The Decline,Stars Of The Lid,Rock,2007-04-07 00:00:00,PopMatters,87.0,"Their work, especially that displayed on Refin..."

# Challenge 7: `iloc` Slice and Stride

Use `.iloc` to return every 40th album between reviews 20 and 200 and save this subset in a variable named music3

In [36]:
## YOUR CODE HERE

,ALBUM,artist,genre,release_date,critic,score,Body
20,July Flame,Laura Veirs,Indie,2010-01-12 00:00:00,musicOMH.com,81.0,Laura Veirs makes an excellent case for hersel...
60,Angels & Devils,The Bug,Electronic,2014-08-26 00:00:00,The Quietus,83.0,An album that's otherwise remarkably deft at u...
100,Pilot Talk III,Curren$y,Rap,2015-04-04 00:00:00,bossmanrwat11,78.0,"Big Spitta fan here, but his remarkable consis..."
140,A Thousand Shark's Teeth,My Brightest Diamond,Indie,2008-06-17 00:00:00,PopMatters,72.0,"It’s a swooning, big-gestured album to get los..."
180,Television Man,Naomi Punk,Pop/Rock,2014-08-05 00:00:00,Rolling Stone,71.0,"Sure, the songs' formulaic stop-and-spurt atta..."

# Challenge 8: `iloc` Rows and Columns

Use `iloc` to extract the last five rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

> HINT: How do `iloc` and `loc` differ?

In [46]:
## YOUR CODE HERE

,artist,ALBUM,score
4996,Conor Oberst And The Mystic Valley Band,Outer South,67.0
4997,David Gilmour,On An Island,67.0
4998,Gossip,Movement,81.0
4999,Dr. John,Locked Down,86.0
5000,Stars Of The Lid,And Their Refinement Of The Decline,87.0

# Challenge 9: `.loc` Rows and Columns 

Use `loc` to extract the first 5 rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

In [53]:
## YOUR CODE HERE

,ALBUM,artist,genre,release_date,critic,score,Body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...
5,Weathervanes,Freelance Whales,Indie,2010-04-13 00:00:00,Q Magazine,68.0,Fans of Owl City and The Postal Service will r...

# Challenge 10: Create New Column

Create a new column in music3 named "score_int" that is a copy of "score" - but converted to an integer.

In [ ]:
## YOUR CODE HERE

# Challenge 11: Create New Column with Calculation

Create a new column named "decimal" that is a copy of "score_int" but that is divided by 100 and rounded to two decimal places.

In [ ]:
## YOUR CODE HERE

# Challenge 12: Reorder Columns

Reorder the columns of music3 in this order: critic, genre, artist, ALBUM, score, score_int, decimal, Body, release_date

In [ ]:
## YOUR CODE HERE

# Challenge 13: `.value_counts()`

Use `.value_counts()` to sum the total number of reviews for each critic. Return only the top 20.

In [ ]:
## YOUR CODE

# Challenge 14: Import .csv file from a URL

You can also import data from web addresses. Import the file found at this URL and save it in a variable named countries: https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv

Use `.value_counts()` to state how many of these countries are EU versus non-EU; save this as a DataFrame named summary

In [ ]:
## YOUR CODE HERE

Use `.value_counts()` to show how many EU versus non-EU countries are in this dataset:

In [ ]:
## YOUR CODE HERE